:root {
  --primary: #a2d2d6;
  --primary-text: #363636;
  --secondary: #e03743;
  --secondary-text: #ffffff;
  --accent: #417798;
  --accent-fade: rgb(65, 119, 152, 0.5);
  --accent-text: #ffffff;
}
